<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Email Template</title>
<style>
  .main-wrapper {
    width: 90%;
    height: auto;
    border: 3px solid black;
    margin: auto;
  }
  @media (max-width: 350px) {
    .main-wrapper {
      width: 98%;
      height: auto;
      border: 3px solid black;
    }
  }
  .tag1 {
    @media (max-width: 350px) {
      text-align: center;
    }
  }
  .tag2 {
    @media (max-width: 350px) {
      text-align: center;
      font-size: 15px;
    }
  }
</style>
</head>
<body>
  <div style= "width : 100%;">
  <div class="main-wrapper">
    <div style="background-color: #594FF5; width: 100%; border-bottom: 3px solid black; box-sizing: border-box; padding: 10px;">
      <%= image_tag attachments["logo.png"].url, style: "height: 52px;" %>
    </div>
    <div style="padding: 20px; align-items: center;">
      <p style="font-size: 25px; font-weight: 700; margin-bottom: 0; text-align: center;">Hi, <%= @user.full_name %>!</p>
      <p style="text-align: center;">Thank you for creating an account on the<br/>London Filmed booking platform.</p>
      <p class="tag1" style="text-align: center;">Your account manager is <%= @manager.full_name %></p>
      <p class="tag2" style="text-align: center;">If there is anything you need with, you can<br/>get in touch with them at <%= @manager.email %></p>
      <p style="text-align: center;">Or, feel free to</p>
      <div style="position: relative; text-align: center;">
        <div style="display: inline-block;">
          <div style="position: absolute; top: 5px; left: 5px; width: 100%; height: 100%; background-color: black; z-index: 0;"></div>
          <div style="width: 170px; border: 3px solid black; padding: 10px; text-align: center; background-color: #ffc34d; position: relative; z-index: 1;">
            <a href="<%= @booking_link %>" style="text-decoration: none;">Book a call
          </div>
        </div>
      </div>
      <p style="margin-bottom: 0; text-align: center;">If you're ready to get started</p>
      <p style="margin-top: 0; text-align: center;">create a quote for your next event</p>
      <p style="margin-bottom: 0; text-align: center;">Thanks,</p>
      <p style="margin-top: 0; text-align: center;">London Filmed</p>
    </div>
    <div style="border-top: 3px solid black; padding: 20px; background-color: #d9d9d9; text-align: center;">
      <div style="display: inline-block;">
        <%= image_tag attachments["linkedicon.png"].url, style: "height: 20px; border: 2px solid black;" %>
        <%= image_tag attachments["instagramicon.png"].url, style: "height: 20px; border: 2px solid black;" %>
      </div>
    </div>
  </div>
</div>
</body>
</html>