
<h1><%=@user.account.first_name%> User Has Requested!</h1>
<br>
<p>First Name: <%= @user.first_name %></p>
<p>Last Name: <%= @user.last_name %></p>
<p>Email: <%= @user.account.email %></p>
<p>Phone Number: <span><%= @user.country_code %></span><span><%=@user.phone_number %></span></p>
<p>Subject: <%= @user.subject %></p>
<p>Details: <%= @user.details %></p>
<p>Company Link: <%= link_to 'Company Details', "#{Rails.application.config.base_url}/admin/companies/#{@user.account.company.id}" %></p>