<h1>Your Request is Submitted Successfully!</h1>
<br>
<p>First Name: <%= @user.first_name %></p>
<p>Last Name: <%= @user.last_name %></p>
<p>Email: <%= @user.email %></p>
<p>Phone Number: <%= @user.phone_number %></p>
<p>Subject: <%= @user.subject %></p>
<p>Details: <%= @user.details %></p>

