<h1>Your Request is Submitted Successfully!</h1>
<br>
<p>First Name: <%= @user.account.first_name %></p>
<p>Last Name: <%= @user.account.last_name %></p>
<p>Email: <%= @user.account.email %></p>
<p>Phone Number: <%= @user.account.full_phone_number %></p>
<p>Company Name: <%= @user.subject %></p>
<p>Details: <%= @user.details %></p>
<p>Company Link: <%= @user.account.company.meeting_link %></p>

